section.about
    .container
        .title.title--with--line
            h2.title__header JWeb
            .title__text Наши услуги

        .ul.about__list
            li.about__item
               .icon.icon-like
               h3.about__header Разработка и верстка сайтов
               p.about__description Создание сайтов, продающих landing-page. Размещение в сети

            li.about__item
                .icon.icon-shop
                h3.about__header Создание интернет-магазинов
                p.about__description Поддержка и наполнение

            li.about__item
                .icon.icon-message
                h3.about__header Творческие решения
                p.about__description Создание авторских блогов, сайтов-портфолио