section.approach
    .container
        .title.title--with--line
            h2.title__header Наш подход
            .title__text Стадии создания Вашего сайта

        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="pic")
                    .approach__step step
                .approach__text
                    .approach__title Шаг 1 : Составление ТЗ
                    p.approach__description.
                        Подбор оптимальных решений с учетом потребностей Вашего бизнеса и Ваших пожеланий. Отображение сайта на разных стационарных и мобильных устройствах. Составление подробного технического задания.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-2.jpg" alt="pic")
                    .approach__step step
                .approach__text
                    .approach__title Шаг 2 : Внешний вид
                    p.approach__description.
                        Разработка дизайна сайта с учетом Ваших пожеланий и на основании ранее составленного ТЗ. Внесение возможных корректировок.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-3.jpg" alt="pic")
                    .approach__step step
                .approach__text
                    .approach__title Шаг 3 : Создание
                    p.approach__description.
                        Реализация требуемого функционала Вашего сайта. SEO-оптимизация. На начальных этапах возможна корректировка функционала.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-4.jpg" alt="pic")
                    .approach__step step
                .approach__text
                    .approach__title Шаг 4 : Размещение в сети
                    p.approach__description.
                        Создание продающего текста. Наполнение сайта. Размещение в Internet.
