.contacts
    a.contact(href="tel:+380671843500")
        i.fas.fa-phone-volume.contact__icon(aria-hidden="true")
        //i.fa.fa-mobile(aria-hidden="true")
        span.contact__text +380671843500

    a.contact(href="mailto:zaheugene80@gmail.com")
        i.fa.fa-envelope.contact__icon--email(aria-hidden="true")
        span.contact__text zaheugene80@gmail.com

    a.fab.fa-facebook(href="facebook.com")
        i.fa.facebook(aria-hidden="true")
        //span.contact__text zaheugene80@gmail.com