- var linkItems = ['facebook-official', 'twitter', 'google-plus', 'linkedin']
- var linkUrls = ['https://www.facebook.com/profile.php?id=100011626740491', 'https://twitter.com/J0Z80?lang=ru', 'https://plus.google.com/116879297306664019667', 'www.linkedin.com/in/евгений-захарченко-66b170139/']
footer.footer
    .footer__top
        .container
            .footer__title Связаться с нами
            .footer__links
                each item, key in linkItems
                    a.footer__social(href="http://" + linkUrls[key] target="_blank")
                        i(class="fa fa-" + item aria-hidden="true")
                            span.visually-hidden=linkItems
            .footer__text Оставьте Ваши данные для скидки при следующем заказе
            form(action="#" method="post")
                .footer__field: input.footer__input(type="email" placeholder="Email")
                button(type="submit").button Участвовать в акциях

    .footer__bottom
        .footer__copy JWeb.club 2017

    button#top
        img(src="images/up.png" alt="Up")