header.header
    .header__top
        .container
            include contact

    .container
        .header__bottom
            .logo: img.logo__pictures(src="images/JW.png" alt="pic")
            include nav
            a.button.header__button.button--green(href="#") Уточнить детали