header.header
    .header__top
        .container
            include contact

    .container#stick
        .header__bottom
            .logo: img.logo__pictures(src="images/JW.png" alt="pic")
            include nav