nav.nav
    - var items = ["о нас", "технологии","уточнить детали", "наши работы", "заказать"]
    - var dataItems = ['hero', 'about', 'approach', 'work', 'form-section']
    each item, key in items
        if item  === "Н"
            a.nav__link--active(href="#H" data-link=dataItems[key])= item
        else
            a.nav__link(href="#" data-link=dataItems[key])= item