.about {
  padding: 3vh 0;
  text-align: center;

  &__item {
    width: 33%;
    list-style: none;

    @media (max-width: 1080px) {
      width: 30%;
    }

    @media (max-width: 960px) {
      width: 50%;
      margin: 0 -25px;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 0;
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 -5%;
    padding: 0;

    @media (max-width: 1080px) {
      margin: 0 -2%;
    }
  }

  &__header {
    margin: 0 0 15px 0;
    font-size: 1.4rem;
    font-family: $ff-main-bold;
    color: #454545;
  }

  &__description {
    padding-right: 5px;
    margin-top: 0;
    font-size: 1.2rem;
    color: black;
  }
}