.hero {
  min-height: 65px;
  padding: 340px 0;
  text-align: center;
  color: #fff;
  background: #ccc url("../../images/growing-seed.jpg") center/cover no-repeat;

  &__about {
    font-family: $ff-main-bold;
    font-size: 4rem;
    line-height: 2;

    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
  }

  @media (max-width: 1000px) {
    padding: 17vh 0 25vh;
  }

  .button--text-uppercase {
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 280px;
    color: #000;
    background: #f99c22;

    &:hover,
    &--active {
      background: lighten(#f99c22, 20%);
    }
  }
}
